@import "~medium-editor/dist/css/medium-editor.min";
@import "~medium-editor/dist/css/themes/beagle.min";

.vb-matched-element {
    outline: 1px solid #ff5ea927;
}

.vb-empty {
    min-height: 60px;
}

.sortable-ghost {
  height: 0;
  width: 100%;
  background: green;
  min-height: 0 !important;
  max-height: 0 !important;
  position: relative;
  margin: 0;
  padding: 0;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: green;

    height: 4px !important;
    min-height: 0 !important;
    width: 100%;
    overflow: hidden !important;
    display: block;
    visibility: visible;
  }
}

body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.root {
    padding: 40px;
}

.section {
    padding: 80px;
}

.dragged-original {
    opacity: .5;
    user-drag: none;
    user-select: none;
}

.dragged-placeholder {
    background: green;
    height: 3px;
    width: 100%;
    display: inline-block;
    position: absolute;
}

.sortable-ghost {
    position: absolute;
}