@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/forms';
input, select, .form-control, .multiselect__input, .multiselect__single, .multiselect__tags {
    background: lighten($bg-dark, 18%);
    color: white;
    &:focus {
        background: lighten($bg-dark, 22%);        
        outline: none;
        border-color: transparent;
    }
}

.form-group {
    clear: both;
}
.form-control {
    border: 0;
}
.field-wrap {
    position: relative;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.15rem + 0px);
}
.group-label {
    border-top: 1px solid lighten($bg-dark, 10%);
    padding: 6px 10px;
    cursor: pointer;
}
.group-content {
    fieldset {
        border: 0;
        padding: 13px;
    }
}


.half, .one-third, .two-thirds, .one-quarter, .three-quarters {
    float: left;
    clear: none;
    margin-right: 8%;    
}
.half {
    width: 46%;
}
.one-third {
    width: 29.33%;
}
.two-thirds {
    width: 62.66%;
}
.one-quarter {
    width: 21%;
}
.three-quarters {
    width: 71%;
}
.last {
    margin-right: 0;
    clear: right;
}


/**
 * Field types
 */
.multiselect__tags {
    min-height: 24px;
    padding: 5px 6px 0 6px;
    border-radius: 5px;
    border: 0;
}
.multiselect__tag {
    margin-top: 2px;
    margin-bottom: 2px;
}
.multiselect__select {
    width: 30px;
    height: 34px;
}