.modal-container {
    max-height: 80vh;
    width: 300px;
    margin: 0px auto;
    padding: 0;
    background-color: $bg-dark;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    // overflow: scroll;
    position: absolute;
    top: 20%;
    left: 40%;
    color: white;
    z-index: 10;
  }
  
  .modal-header {
    padding: 5px;
    border: 0;
    display: flex;
    align-items: center;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .close-modal {
    margin-left: auto;
    display: flex;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .modal-footer {
    width: 100%;
  }
  
  .modal-default-button {
    float: right;
  }
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }