.sidebar {
  background: $bg-dark;
  color: white;
  right: 0;
  left: auto;
  top: 0;
  height: 100%;
  width: $style-bar-width;
  max-height: 100vh;
  position: fixed;
  overflow: scroll;
}
.sidebar.sidebar-left {
    left: 0;
    right: auto;
    transform: translate3d(-100%,0,0);
}
.sidebar.open {
    transform: translate3d(0%,0,0);
}