<template>
    <div class="color-picker">
        <span class="current-color" :style="'background-color: ' + value" @click="togglePicker()"></span>
        <color-picker v-model="value" v-if="displayPicker" :autocomplete="schema.autocomplete" :disabled="disabled" :readonly="schema.readonly" :name="schema.inputName" :id="getFieldID(schema)"></color-picker>
    </div>
</template>

<script>
import { abstractField } from 'vue-form-generator'
import { Sketch } from 'vue-color'

export default {
  mixins: [abstractField],
  components: {
    'color-picker': Sketch
  },
  data () {
    return {
      displayPicker: false
    }
  },
  methods: {
    formatValueToModel (value) {
      var rgba = ''
      if (value && value.rgba) {
        rgba =
          'rgba(' +
          value.rgba.r +
          ',' +
          value.rgba.g +
          ',' +
          value.rgba.b +
          ',' +
          value.rgba.a +
          ')'
      }
      return rgba
    },
    formatValueToField (value) {
      if (!value) {
        value = ''
      }
      return value
    },
    togglePicker () {
      this.displayPicker ? this.hidePicker() : this.showPicker()
    },
    showPicker () {
      document.addEventListener('click', this.documentClick)
      this.displayPicker = true
    },
    hidePicker () {
      document.removeEventListener('click', this.documentClick)
      this.displayPicker = false
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/variables';
.color-picker {
  .current-color {
    width: 28px;
    height: 28px;
    display: block;
    background: lighten($bg-dark, 18%);
    border-radius: 5px;
    padding: 5px;
  }
}
.vc-sketch {
  position: absolute;
  left: 0%;
  top: 100%;
}
</style>
