<template>
    <div>
        <input
            type="hidden"
            v-model="value">
        <input
            class="form-control"
            type="text"
            v-model="integer"
            :min="schema.min"
            :max="schema.max"
            :placeholder="schema.placeholder"
            :readonly="schema.readonly">
        <select
            class="form-control"
            v-model="unit">
            <option v-for="unit in availableUnits" :value="unit" :key="unit">{{ unit }}</option>
        </select>
    </div>
</template>

<script>
import { abstractField } from 'vue-form-generator'

export default {
  mixins: [abstractField],
  computed: {
    unit: {
      get () {
        return this.getUnit(this.value) ? this.getUnit(this.value) : 'px'
      },
      set (unit) {
        if ((this.integer || this.integer === 0) && this.unit) {
          this.value = this.integer + unit
        } else {
          this.value = null
        }
      }
    },
    integer: {
      get () {
        return !isNaN(parseInt(this.value)) ? parseInt(this.value) : null
      },
      set (integer) {
        if (integer) {
          var typedUnit = this.getUnit(integer)
          if (typedUnit) {
            this.unit = typedUnit
          }
          integer = parseInt(integer)
          if (this.schema.min) {
            integer = Math.max(this.schema.min, integer)
          }
          if (this.schema.max) {
            integer = Math.min(this.schema.max, integer)
          }
          this.value = integer + this.unit
        } else {
          this.value = null
        }
      }
    },
    availableUnits () {
      if (this.schema.units) {
        return this.schema.units
      } else {
        return [
          'px',
          '%',
          'em'
          //  'vh',
          //  'vw',
        ]
      }
    }
  },
  methods: {
    getUnit (value) {
      var unitValue = null
      this.availableUnits.forEach(function (unit) {
        if (value && typeof value === 'string' && value.includes(unit)) {
          unitValue = unit
        }
      })
      return unitValue
    }
  }
}
</script>

<style lang="scss" scoped>
.field-dimension {
    .field-wrap {
        position: relative;
    }
    select {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
    }
}
</style>
