<template>
  <div class="wrapper">
    <input class="input form-control link"
      ref="valueNode"
      type="text"
      v-show="isEditing"
      v-model="wrappedValue"
      :autocomplete="schema.autocomplete"
      :disabled="disabled"
      :placeholder="schema.placeholder"
      :readonly="schema.readonly">
    <div class="preview" :style="previewStyle" @click="toggleEditing">
      <div class="image-icon" v-show="!this.value" v-html="this.$constants.feather['image'].toSvg({width: '60', height: '40'})"></div>
    </div>
    <div class="remove" v-show="this.value" title="Remove" @click="remove"></div>
    <div class="editing-overlay" v-if="isEditing" @click="toggleEditing"></div>
  </div>
</template>

<script>
import { abstractField } from 'vue-form-generator'

export default {
  mixins: [ abstractField ],
  data () {
    return {
      isEditing: false
    }
  },
  computed: {
    previewStyle () {
      if (this.schema.preview !== false) {
        return {
          'background-image': this.value
        }
      } else {
        return {
          display: 'none'
        }
      }
    },
    wrappedValue: {
      get () {
        var reg = /(?:\(['"]?)(.*?)(?:['"]?\))/
        var extractedUrl = reg.exec(this.value)
        if (extractedUrl) {
          return extractedUrl[1]
        }
      },
      set (newValue) {
        this.value = newValue
        // this.value = (newValue !== null ? 'url(' + newValue + ')' : null)
        return newValue
      }
    }
  },
  methods: {
    toggleEditing () {
      if (!this.isEditing) {
        this.isEditing = true
        this.$store.commit('setCurrentModelProperty', [this.model, this.schema.model])
        this.$store.commit('toggleAssetManager')
      } else {
        this.isEditing = false
        this.$store.commit('setCurrentModelProperty', [null, null])
        this.$store.commit('toggleAssetManager')
      }
    },
    remove () {
      this.value = ''
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/variables';

  .vue-form-generator .field-asset {
    .wrapper {
      width: 100%;
    }
    .preview {
      cursor: pointer;
      position: relative;
      margin-top: 5px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      border: 1px solid lighten($bg-dark, 20%);
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
    .remove {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXUlEQVR42u2SwQoAIAhD88vVLy8KBlaS0i1oJwP3piGVg0Skmpq8HjqZrWl9uwCbGAmwKYGZs/6iqgMyAdJuM8W2QmYKpLt/0AG9ASCv/oAnANd3AEjmAlFT1BypAV+PnRH5YehvAAAAAElFTkSuQmCC');
      width: 16px;
      height: 16px;
      font-size: 1.2em;
      position: absolute;
      right: 0.2em;
      bottom: 0.2em;
      opacity: 0.7;
      &:hover {
        opacity: 1.0;
        cursor: pointer;
      }
    }
    .editing-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      z-index: -1;
    }
    .image-icon {
      opacity: .5;
    }
  }
</style>
