<template>
  <div class="row">
    <el
    v-for="elementKey in model.children"
    :model="$store.state.elements[elementKey]"
    :key="elementKey"
    :element-key="elementKey">
    </el>
  </div>
</template>

<script>
import ElementBase from '../mixins/elementBase'
import Vue from 'vue'
import store from '../store'
import shortid from 'shortid'

export default {
  label: 'Columns',
  mixins: [ElementBase],
  parseNode (node) {
    if (node.classList && node.classList.contains('row')) {
      return {
      }
    }
  },
  groups: {
    General: {
      fields: {
        columns: {
          type: 'radioIcons',
          label: 'Columns',
          model: 'columns',
          values: [
            {
              icon: 'lnr lnr-heart',
              value: [{ size: 12, type: 'column', elements: [] }]
            },
            {
              icon: 'lnr lnr-poop',
              value: [
                { size: 6, type: 'column', elements: [] },
                { size: 6, type: 'column', elements: [] }
              ]
            },
            {
              icon: 'lnr lnr-poop',
              value: [
                { size: 4, type: 'column', elements: [] },
                { size: 4, type: 'column', elements: [] },
                { size: 4, type: 'column', elements: [] }
              ]
            },
            {
              icon: 'lnr lnr-poop',
              value: [
                { size: 3, type: 'column', elements: [] },
                { size: 3, type: 'column', elements: [] },
                { size: 3, type: 'column', elements: [] },
                { size: 3, type: 'column', elements: [] }
              ]
            }
          ],
          default: [
            {
              size: 6,
              type: 'column',
              elements: []
            },
            {
              size: 6,
              type: 'column',
              elements: []
            }
          ],
          set: function (model, value) {
            var columns = []
            var columnDifference = model.children.length - value.length
            if (columnDifference > 0) {
              var elementsToDelete = model.children.slice(
                -1 * columnDifference
              )
            }
            value.forEach(function (column, index) {
              if (model.children[index]) {
                columns.push(model.children[index])
                Vue.set(
                  store.state.elements[model.children[index]],
                  'size',
                  column.size
                )
                // columns[index].elements = model.children[index].elements
              } else {
                var id = shortid.generate()
                store.commit('createElement', [
                  id,
                  'column',
                  { size: column.size }
                ])
                columns.push(id)
              }
            })
            Vue.set(model, 'children', columns)
            if (elementsToDelete) {
              for (var i = 0; i < elementsToDelete.length; i++) {
                store.commit('deleteElement', elementsToDelete[i])
              }
            }
          }
        }
      }
    }
  }
}
</script>
