<template>
  <draggable
  class="vb-draggable-list"
  :class="columnClass"
  v-model="model.children"
  :options="{group:'elements', filter: '.editable', preventOnFilter: false}"
  @filter="this.$utils.dragStart">
      <el
      v-for="elementKey in model.children"
      :model="$store.state.elements[elementKey]"
      :key="elementKey"
      :element-key="elementKey">
      </el>
  </draggable>
</template>

<script>
import ElementBase from '../mixins/elementBase'

export default {
  name: 'column',
  label: 'Column',
  mixins: [ElementBase],
  props: {
    model: Object
  },
  computed: {
    columnClass () {
      return 'col-md-' + this.model.size
    }
  },
  methods: {
    updateColumnSize (columns) {
    },
    startResize (e) {
      this.selected = true
      this.startingPosition = e.clientX
      this.originalWidth = e.target.parentElement.offsetWidth
      this.containerWidth = e.target.parentElement.parentElement.offsetWidth
      this.columnContainer = e.target.parentElement
      document.documentElement.addEventListener(
        'mousemove',
        this.doResize,
        false
      )
      document.documentElement.addEventListener(
        'mouseup',
        this.stopResize,
        false
      )
    },
    doResize (e) {
      e.preventDefault()
      var newWidth = e.clientX - this.startingPosition + this.originalWidth
      var percentageWidth = newWidth / this.containerWidth * 100
      this.size = this.$utils.getClosestNumber(
        this.$config.gridSizes,
        percentageWidth
      )
    },
    stopResize () {
      this.selected = false
      document.documentElement.removeEventListener(
        'mousemove',
        this.doResize,
        false
      )
      document.documentElement.removeEventListener(
        'mouseup',
        this.stopResize,
        false
      )
    }
  },
  groups: {
    General: {
      legend: 'General',
      fields: {
        size: {
          type: 'input',
          inputType: 'text',
          label: 'Size',
          model: 'uniqueClass',
          // readonly: true,
          featured: false
          // disabled: true,
        }
      }
    }
  },
  parseNode (node) {
    if (node.className && node.className.split(' ').some(c => /col-.*/.test(c))) {
      return {
        size: 4
      }
    }
  }
}
</script>
