<template>
  <draggable v-model="model.children" :options="{group:'elements'}" :move="onMove" @start="onStart">
    <el
    v-for="childKey in model.children"
    :parent-key="elementKey"
    :model="$store.state.elements[childKey]"
    :key="childKey"
    :element-key="childKey">
    </el>
  </draggable>
</template>

<script>
import ElementBase from '../mixins/elementBase'
import Vue from 'vue'

export default {
  props: {
    model: Object,
    elementKey: null,
    parentKey: null
  },
  mixins: [ElementBase],
  label: 'Div',
  groups: {
    General: {}
  },
  methods: {
    onMove (event) {
      event.preventDefault()
      event.stopPropagation()
      console.log(event)
    },
    onStart (event) {
      this.$store.commit('setCurrentElementKey', null)
      Vue.nextTick(function () {
        event.clone.style.display = ''
        event.clone.style.opacity = '.5'
      })
    }
  },
  parseNode (node) {
    // Get classes
    return {
      classes: node.className ? node.className.split(/\s+/) : []
    }
    // Get unwrapped value
    // Get children if any
  }
}
</script>
