<template>
    <img :src="model.src" :alt="model.alt">
</template>

<script>
import ElementBase from '../mixins/elementBase'

export default {
  mixins: [ElementBase],
  props: {
    model: Object
  },
  label: 'Image',
  groups: {
    General: {
      fields: {
        alt: {
          type: 'input',
          inputType: 'text',
          label: 'Alt Text',
          model: 'alt'
        },
        src: {
          type: 'image',
          label: 'Image',
          required: true,
          model: 'src',
          default: 'src/assets/images/default.jpg'
        }
      }
    }
  },
  parseNode (node) {
    if (node.tagName === 'IMG') {
      return {
        alt: node.alt,
        src: node.src
      }
    }
  }
}
</script>
