<template>
  <a :href="model.href" :target="model.target">
    {{ model.text }}
    <el
    v-for="element in model.children"
    :parent="model"
    :model="element"
    :key="element.id">
    </el>
  </a>
</template>

<script>
import ElementBase from '../mixins/elementBase'

export default {
  mixins: [ElementBase],
  props: {
    model: Object
  },
  label: 'Link',
  groups: {
    General: {
      fields: {
        href: {
          type: 'input',
          inputType: 'text',
          label: 'URL',
          model: 'href'
        },
        text: {
          type: 'input',
          inputType: 'text',
          label: 'Text',
          model: 'text',
          default: 'Link Text'
        },
        target: {
          type: 'select',
          label: 'Target',
          model: 'target',
          values: function () {
            return [
              { id: '_blank', name: 'Blank' },
              { id: '_self', name: 'Self' },
              { id: '_parent', name: 'Parent' },
              { id: '_top', name: 'Top' }
            ]
          }
        }
      }
    }
  }
}
</script>
