<template>
  <div v-html="model.html"></div>
</template>

<script>
import ElementBase from '../mixins/elementBase'

export default {
  mixins: [ElementBase],
  props: {
    model: Object
  },
  label: 'Raw Code',
  groups: {
    General: {
      fields: {
        html: {
          type: 'textArea',
          label: 'HTML',
          model: 'html',
          default: '<p>Test</p>'
        }
      }
    }
  }
}
</script>
