<template>
  <div v-html="model.content" @blur="updateModel"></div>
</template>

<script>
import ElementBase from '../mixins/elementBase'
import Editable from '../mixins/editable'

export default {
  mixins: [ElementBase, Editable],
  props: {
    model: Object,
    column: null
  },
  label: 'Rich Text',
  groups: {
    'Base': {
      legend: 'Base',
      open: true,
      fields: {
        'content': {
          type: 'input',
          inputType: 'text',
          label: 'Content',
          model: 'content',
          featured: true
        }
      }
    }
  },
  methods: {
    updateModel (event) {
      this.model.content = event.target.innerHTML
    }
  }
}
</script>
