<template>
  <draggable
  class="section"
  v-model="model.children"
  :options="$config.draggableOptions"
  @filter="this.$utils.dragStart"
  @start="$config.draggableStart">
      <el
      v-for="elementKey in model.children"
      :model="$store.state.elements[elementKey]"
      :key="elementKey"
      :element-key="elementKey"
      :parent-element="this">
      </el>
  </draggable>
</template>

<script>
import ElementBase from '../mixins/elementBase'

export default {
  name: 'section-element',
  label: 'Section',
  mixins: [ElementBase],
  data () {
    return {
      type: 'section-element',
      name: 'Section Widget'
    }
  },
  groups: {
    General: {
      fields: [
        {
          type: 'input',
          inputType: 'text',
          label: 'ID',
          model: 'uniqueClass',
          // readonly: true,
          featured: false
          // disabled: true,
        },
        {
          type: 'input',
          inputType: 'text',
          label: 'Value',
          model: 'value',
          default: 'test default field',
          readonly: false,
          featured: false,
          disabled: false,
          visible: true
        }
      ]
    }
  },
  parseNode (node) {
    if (node.classList && node.classList.contains('section')) {
      return {
        value: 'testmoo'
      }
    }
  }
}
</script>
