<template>
    <component v-bind:is="model.headingTag" v-html="model.content" @blur="updateModel" @dblclick="startEditing" @keypress.enter="onEnter"></component>
</template>

<script>
import ElementBase from '../mixins/elementBase'
import Editable from '../mixins/editable'

export default {
  mixins: [ElementBase, Editable],
  props: {
    model: Object
  },
  label: 'Text',
  groups: [
    {
      label: 'General',
      fields: [
        {
          type: 'input',
          inputType: 'text',
          label: 'Content',
          model: 'content',
          default: 'Heading'
        },
        {
          type: 'select',
          label: 'Heading Tag',
          model: 'headingTag',
          values: function () {
            return [
              { id: 'h1', name: 'H1' },
              { id: 'h2', name: 'H2' },
              { id: 'h3', name: 'H3' },
              { id: 'h4', name: 'H4' },
              { id: 'h5', name: 'H5' },
              { id: 'h6', name: 'H6' }
            ]
          },
          default: 'h2'
        }
      ]
    }
  ],
  methods: {
    updateModel (event) {
      this.$store.commit('setInlineEditorMode', false)
      this.$el.setAttribute('contenteditable', 'false')
      this.model.content = event.target.innerHTML
    },
    startEditing (event) {
      // this.initEditor()
      // this.$el.setAttribute('contenteditable', 'true')
      this.$store.commit('setInlineEditorMode', true)
    },
    onEnter (event) {
      if (!event.shiftKey) {
        event.preventDefault()
      }
    }
  },
  watch: {
    'model.headingTag': {
      handler (value) {
        this.initEditor()
      }
    }
  },
  parseNode (node) {
    var allowedTags = [
      'h1',
      'h2',
      'h3',
      'h4',
      'h5',
      'h6',
      'span',
      'p'
    ]
    if (node.nodeType === 3 || allowedTags.includes(node.tagName.toLowerCase())) {
      return {
        headingTag: node.tagName ? node.tagName.toLowerCase() : 'span',
        content: node.textContent
      }
    }
  }
}
</script>
