<template>
  <div class="sidebar sidebar-left asset-manager" :class="{'open': $store.state.assetManagerOpen }">
    <a class="upload-asset btn" v-html="this.$constants.feather['upload-cloud'].toSvg() + ' Upload'"></a>
    <vue-dropzone
      ref="assetManagerDropzone"
      id="asset-manager-dropzone"
      :options="dropzoneOptions"
      v-on:vdropzone-removed-file="removedFileListener"
      v-on:vdropzone-thumbnail="thumbnailClickListener" />
  </div>
</template>

<script>
import Vue from 'vue'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.css'

export default {
  components: {
    vueDropzone: vue2Dropzone
  },
  data () {
    return {
      assets: [],
      searchFilter: '',
      dropzoneOptions: {
        url: 'https://httpbin.org/post',
        thumbnailWidth: 150,
        thumbnailHeight: 150,
        maxFilesize: 0.5,
        clickable: '.upload-asset',
        addRemoveLinks: true,
        dictRemoveFile: 'Remove',
        dictRemoveFileConfirmation: 'Are you sure you want to permanently delete this file?'
      }
    }
  },
  mounted () {
    this.getServerImages()
  },
  computed: {
  },
  methods: {
    getServerImages () {
      var _this = this
      fetch('/static/server_images.json').then(function (response) {
        return response.json()
      }).then(function (images) {
        if (images) {
          for (var i = 0; i < images.length; i++) {
            _this.$refs.assetManagerDropzone.manuallyAddFile(images[i], images[i].url)
          }
        }
      })
    },
    thumbnailClickListener (file) {
      var _this = this
      file.previewElement.addEventListener('click', function () {
        if (_this.$store.state.currentProperty && _this.$store.state.currentModel) {
          Vue.set(_this.$store.state.currentModel, _this.$store.state.currentProperty, 'url(' + file.url + ')')
        }
      })
    },
    removedFileListener (file, error, xhr) {
      fetch(this.$config.deleteAssetUrl, {
        method: 'POST',
        body: file
      })
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/variables';

.asset-manager {
  width: 400px;
}
.upload-asset.btn {
  float: right;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: lighten($bg-dark,10%);
  cursor: pointer;
  svg {
    margin-right: 10px;
  }
}
.vue-dropzone#asset-manager-dropzone {
  background: transparent;
  border: 0;
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 60px 20px 20px 20px;
  .dz-preview {
    height: 120px;
    padding: 4px;
    margin: 0;
    float: left;
    max-width: 33.33%;
    background: transparent;
    cursor: pointer;
    &:hover {
      img {
        filter: none;
      }
    }
  }
  .dz-image {
    width: 150px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid darken($bg-dark,5%);
    background: transparent;
    img {
      transform: none;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .dz-details {
    position: relative;
    padding: 15px 10px;
    background: darken($bg-dark,5%);
    .dz-size {
      margin-bottom: .1rem;
    }
  }
  .dz-progress {
    height: 10px;
    margin-top: -5px;
  }
  a.dz-remove {
      border: 0;
      top: 6px;
      right: 6px;
      bottom: auto;
  }
}

</style>
