<template>
    <transition name="context-menu" v-on:after-enter="focusMenu">
        <ul id="context-menu"
            class="context-menu"
            tabindex="-1"
            v-if="showContextMenu"
            @blur="closeContextMenu"
            :style="{top:top, left:left}">
            <li @click="deleteElement">Delete Element</li>
            <li @click="duplicateElement">Duplicate</li>
            <li @click="openElementModal">Settings</li>
            <li @click="selectParent">Select Parent</li>
        </ul>
    </transition>
</template>

<script>
export default {
  name: 'context-menu',
  data () {
    return {}
  },
  computed: {
    showContextMenu () {
      return this.$store.state.showContextMenu
    },
    top () {
      var top = this.$store.state.contextMenuPosition.top
      var largestHeight = window.innerHeight - this.$el.offsetHeight - 25
      if (top > largestHeight) top = largestHeight
      return top + 'px'
    },
    left () {
      var left = this.$store.state.contextMenuPosition.left
      var largestWidth = window.innerWidth - this.$el.offsetWidth - 25
      if (left > largestWidth) left = largestWidth
      return left + 'px'
    }
  },
  methods: {
    focusMenu () {
      this.$el.focus()
    },
    closeContextMenu () {
      this.$store.commit('closeContextMenu')
    },
    deleteElement () {
      this.$store.commit('deleteElement', this.$store.state.currentElementKey)
      this.closeContextMenu()
    },
    openElementModal () {
      this.$store.commit('openElementModal')
      this.closeContextMenu()
    },
    duplicateElement () {
      this.$store.commit('openElementModal')
      this.closeContextMenu()
    },
    selectParent () {
      var parentId = this.$utils.getParent(
        this.$store.state.elements,
        this.$store.state.currentElementKey,
        'children'
      )
      console.log(parentId)
      this.$store.commit('setCurrentElementKey', parentId)
      this.closeContextMenu()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/variables';
.context-menu {
  position: absolute;
  background: $bg-dark;
  color: white;
  z-index: 10;
  margin: 0;
  padding-left: 0;
  border-radius: 5px;
  li {
    list-style: none;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    a {
      padding: 0.5rem 1.5rem;
      cursor: pointer;
    }
    margin-left: 0;
    &:hover {
      background: gray;
    }
  }
  &:focus {
  }
}
</style>
