<template>
  <component :is="elementType" class='editable' @dblclick='initEditor' v-html="content" @keypress.enter="preventNewParagraph">
    <!-- <div v-if="!this.editor" v-html="content" class="editable-content"></div>
    <div v-if="this.editor" @click="destroyEditor" class="editable-overlay"></div> -->
  </component>
</template>

<script>
import MediumEditor from 'medium-editor'

export default {
  props: {
    content: ''
  },
  data () {
    return {
      elementType: 'h2',
      editor: null
    }
  },
  methods: {
    preventNewParagraph (e) {
      if (!e.shiftKey) {
        e.preventDefault()
      }
    },
    update (event) {
      event.preventDefault()
      this.$emit('update', event.target.innerText)
    },
    initEditor () {
      if (!this.editor) {
        var _this = this
        // var editor = document.createElement('div')
        // editor.innerHTML = this.content
        // this.$el.appendChild(editor)
        this.editor = new MediumEditor(this.$el, {
          contentWindow: _this.$store.state.iframePreview.$el.contentWindow,
          ownerDocument: _this.$store.state.iframePreview.$el.contentWindow.document,
          elementsContainer: _this.$store.state.iframePreview.$el.contentWindow.document.body,
          disableReturn: false,
          disableDoubleReturn: true,
          toolbar: {
            buttons: [
              'bold',
              'italic',
              'underline',
              'anchor',
              'h2',
              'h3',
              'quote'
            ]
          }
        })
      }
      this.editor.origElements.focus()
    },
    destroyEditor (event) {
      this.$emit('update', this.editor.getContent())
      this.editor.destroy()
      this.editor.origElements.remove()
      this.editor = null
    }
  }
}
</script>
