<template>
  <div v-bind:is="model.type"
    @click.native="editElement"
    @dblclick.native="openElementModal"
    @contextmenu.native="openContextMenu"
    :model="model"
    :class="[
      model.classes,
      {'vb-matched-element': matchesCurrentSelector && !isExporting},
      {'vb-hovered-element': hovered && !isExporting},
      {'vb-current-element': isCurrentElement && !isExporting},
      {'vb-empty': isEmpty && !isExporting},
      {'dragged-original': isDragging}
    ]"
    :data-parent-key="parentKey"
    :data-vb-element-key="elementKey"
    :id="model.id"
    :element-key="elementKey"
    :parent-key="parentKey"
    :parent-element="parentElement"
    @mouseover.native="hoverElement" @mouseleave.native="unhoverElement"
    ref="child">
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  props: {
    model: Object,
    parentElement: null,
    parentKey: null,
    elementKey: null
  },
  data () {
    return {
      isMounted: false,
      hovered: false,
      classCycleCounter: 1,
      draggedPlaceholder: null,
      isDragging: false
    }
  },
  mounted () {
    this.isMounted = true
  },
  computed: {
    isExporting () {
      return this.$store.state.isExporting
    },
    isEmpty () {
      if (this.model.children && !this.model.children.length) {
        return true
      }
    },
    isCurrentElement () {
      if (this.$store.getters.currentElementKey === this.elementKey) {
        return true
      }
    },
    matchesCurrentSelector () {
      if (!this.isMounted) {
        return false
      }
      if (this.$store.getters.currentSelector && this.$el.matches(this.$store.getters.currentSelector)) {
        return true
      }
    },
    groups () {
      return Vue.options.components[this.model.type].options.groups
    },
    acceptsChildren () {
      return this.$el.tagName === 'DIV'
    }
  },
  methods: {
    editElement (event) {
      event.stopPropagation()
      event.preventDefault()

      // Cycle through specificity
      if (!this.isCurrentElement) {
        this.classCycleCounter = 1
      }
      if (event.shiftKey) {
        this.classCycleCounter += 1
      } else {
        this.classCycleCounter = 1
      }

      this.$store.dispatch('editElement', [this.elementKey, this.classCycleCounter])
    },
    openElementModal (event) {
      event.stopPropagation()
      this.$store.commit('openElementModal')
      event.preventDefault()
    },
    hoverElement (e) {
      e.stopPropagation()
      this.$store.commit('setHoveredElementKey', this.elementKey)
    },
    unhoverElement (e) {
      e.stopPropagation()
      this.$store.commit('setHoveredElementKey', null)
    },
    openContextMenu (event) {
      event.preventDefault()
      this.editElement(event)
      this.$store.commit('openContextMenu', event)
    }
  }
}
</script>
