<template>
    <div id="element-tree" class="element-tree">
        <element-tree-item
        v-for="elementKey in $store.state.elements.root.children"
        :model="$store.state.elements[elementKey]"
        :key="elementKey"
        :element-key="elementKey"
        :depth="1">
        </element-tree-item>
    </div>
</template>

<script>
import ElementTreeItem from './ElementTreeItem.vue'

export default {
  components: {ElementTreeItem},
  name: 'element-tree',
  methods: {}
}
</script>

<style lang="scss">
@import '../assets/scss/variables';
.element-tree {
    .active > .element-tree-item-name {
        background: $primary;
        color: white;
    }
    .element-tree-item-name {
        padding: 4px 8px;
        svg {
            max-width: 14px;
            margin-right: 10px;
            float: left;
        }
    }
    .toggle {
        margin-top: -2px;
        display: block;
        float: left;
    }
}
</style>
