<template>
    <div id="element-tools" v-if="$store.state.iframePreview" :style="relativeIframeDistance" :class="{'working-mode': this.$store.state.paddingMode || this.$store.state.marginMode}">
        <!-- <element-modal></element-modal> -->
        <context-menu></context-menu>
        <!-- <div class="highlight hovered-element" v-if="hoveredElement && (!currentElement || hoveredElement.$el !== currentElement.$el)" :style="getElementPosition(hoveredElement.$el)">
            <div class="label">
                {{ this.$config.elementTypes[hoveredElement.model.type].label }}
                <div class="parents">
                    {{ hoveredElement.parentKey }}
                </div>
            </div>
        </div> -->

        <!-- <div v-if="this.$store.state.positionMode" class="position-handle" @mousedown="startDrag('clientX', 'left')" @mouseup="stopResize">
          Positioning!
        </div> -->

        <element-highlight
          :iframeScroll="iframeScroll"
          :node="$store.getters.hoveredElementNode"
          :model="$store.getters.hoveredElementModel"
          v-if="$store.getters.hoveredElementNode !== $store.getters.currentElementNode">
        </element-highlight>
        <element-highlight
          :iframeScroll="iframeScroll"
          :node="$store.getters.currentElementNode"
          :model="$store.getters.currentElementModel"
          :allowSizing="true"
          v-if="!$store.state.inlineEditorMode">
        </element-highlight>

    </div>
</template>

<script>
import ElementModal from './ElementModal.vue'
import ElementHighlight from './ElementHighlight.vue'
import ContextMenu from './ContextMenu.vue'

export default {
  components: {ElementModal, ContextMenu, ElementHighlight},
  data () {
    return {
      iframeMounted: false,
      iframeScroll: 0,
      startPosition: 0,
      endPosition: 0,
      targetProperty: null,
      dragReverse: false,
      mouseEvent: null,
      currentElementPosition: null
    }
  },
  computed: {
    positionMode () {
      return this.$store.state.positionMode
    },
    relativeIframeDistance () {
      var iframePreview = this.$store.state.iframePreview
      var component = this
      if (!this.iframeMounted) {
        iframePreview.$el.contentDocument.addEventListener(
          'scroll',
          function (event) {
            component.iframeScroll = iframePreview.$el.contentWindow.scrollY
          },
          false
        )
      }
      var css = {
        width: this.$store.state.currentMediaQuery.width,
        top: '-' + this.iframeScroll + 'px'
      }
      return css
    }
  }
}
</script>

<style lang="scss" scoped>
#element-tools {
  position: absolute;
}
#element-tools.working-mode {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

</style>
