<template>
  <div class="highlight" v-if="node" :style="elementPosition">

      <div v-if="allowSizing">

        <div v-if="this.$store.state.marginMode">
          <div class="margin margin-top" :class="{ 'margin-negative': parseInt(elementStyle.marginTop) < 0 }" :style="{height: Math.abs(parseInt(elementStyle.marginTop)) + 'px' }">
              <span class="value">{{ elementStyle.marginTop }}</span>
              <span class="resizer" @mousedown="startResize('clientY', 'margin-top')" @mouseup="stopResize"></span>
          </div>
          <div class="margin margin-bottom" :style="{height: elementStyle.marginBottom }">
              <span class="value">{{ elementStyle.marginBottom }}</span>
              <span class="resizer" @mousedown="startResize('clientY', 'margin-bottom')" @mouseup="stopResize"></span>
          </div>
          <div class="margin margin-left" :style="{width: elementStyle.marginLeft }">
              <span class="value">{{ elementStyle.marginLeft }}</span>
              <span class="resizer" @mousedown="startResize('clientX', 'margin-left')" @mouseup="stopResize"></span>
          </div>
          <div class="margin margin-right" :style="{width: elementStyle.marginRight }">
              <span class="value">{{ elementStyle.marginRight }}</span>
              <span class="resizer" @mousedown="startResize('clientX', 'margin-right', true)" @mouseup="stopResize"></span>
          </div>
        </div>

        <div v-if="this.$store.state.paddingMode">
          <div class="padding padding-top" :style="{height: elementStyle.paddingTop }">
              <span class="value">{{ elementStyle.paddingTop }}</span>
              <span class="resizer" @mousedown="startResize('clientY', 'padding-top')" @mouseup="stopResize"></span>
          </div>
          <div class="padding padding-bottom" :style="{height: elementStyle.paddingBottom }">
              <span class="value">{{ elementStyle.paddingBottom }}</span>
              <span class="resizer" @mousedown="startResize('clientY', 'padding-bottom')" @mouseup="stopResize"></span>
          </div>
          <div class="padding padding-left" :style="{width: elementStyle.paddingLeft }">
              <span class="value">{{ elementStyle.paddingLeft }}</span>
              <span class="resizer" @mousedown="startResize('clientX', 'padding-left')" @mouseup="stopResize"></span>
          </div>
          <div class="padding padding-right" :style="{width: elementStyle.paddingRight }">
              <span class="value">{{ elementStyle.paddingRight }}</span>
              <span class="resizer" @mousedown="startResize('clientX', 'padding-right', true)" @mouseup="stopResize"></span>
          </div>
        </div>

      </div>

      <div class="label">
          {{ label }}
          <div class="parents">
              {{ model.parentKey }}
          </div>
      </div>

  </div>
</template>

<script>
export default {
  props: {
    node: null,
    model: null,
    allowSizing: false,
    iframeScroll: 0
  },
  data () {
    return {
      elementPosition: null
    }
  },
  watch: {
    currentRuleSet: {
      handler (value) {
        this.elementPosition = this.getElementPosition(this.node)
      },
      deep: true,
      immediate: true
    },
    model: {
      handler (value) {
        this.elementPosition = this.getElementPosition(this.node)
      },
      deep: true,
      immediate: true
    }
  },
  computed: {
    label () {
      return this.$config.elementTypes[this.model.type].label
    },
    currentRuleSet () {
      return this.$store.state.currentRuleSet
    },
    elementStyle () {
      if (this.currentRuleSet) {
        return {
          marginTop: this.currentRuleSet.declarations['margin-top'],
          marginBottom: this.currentRuleSet.declarations['margin-bottom'],
          marginLeft: this.currentRuleSet.declarations['margin-left'],
          marginRight: this.currentRuleSet.declarations['margin-right'],
          paddingTop: this.currentRuleSet.declarations['padding-top'],
          paddingBottom: this.currentRuleSet.declarations['padding-bottom'],
          paddingLeft: this.currentRuleSet.declarations['padding-left'],
          paddingRight: this.currentRuleSet.declarations['padding-right']
        }
      }
    }
  },
  methods: {
    getElementPosition (node) {
      if (node) {
        var rect = this.node.getBoundingClientRect()
        return {
          transform: 'translate3d(' + rect.left + 'px,' + (this.iframeScroll + rect.top) + 'px, 0 )',
          width: rect.width + 'px',
          height: rect.height + 'px'
        }
      }
    },
    startResize: function (mouseEvent, property, reverse) {
      this.mouseEvent = mouseEvent
      this.targetProperty = property
      this.dragReverse = reverse
      var initialValue = this.$store.state.currentRuleSet.declarations[this.targetProperty]
        ? parseInt(this.$store.state.currentRuleSet.declarations[this.targetProperty])
        : 0
      this.startPosition = this.dragReverse
        ? event[this.mouseEvent] + initialValue
        : event[this.mouseEvent] - initialValue
      window.addEventListener(
        'mousemove',
        this.doResize,
        false
      )
      window.addEventListener(
        'mouseup',
        this.stopResize,
        false
      )
    },
    doResize (event) {
      event.preventDefault()
      var value = this.dragReverse
        ? this.startPosition - event[this.mouseEvent]
        : event[this.mouseEvent] - this.startPosition
      if (this.targetProperty.startsWith('padding')) {
        value = Math.max(0, value)
      }
      this.$store.commit('updateRuleSet', [
        this.$store.getters.currentSelector,
        this.targetProperty,
        value + 'px'
      ])
    },
    stopResize () {
      window.removeEventListener(
        'mousemove',
        this.doResize,
        false
      )
      window.removeEventListener(
        'mouseup',
        this.stopResize,
        false
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.working-mode .highlight {
  pointer-events: auto;
}
.highlight {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid rgb(33, 164, 211);
  pointer-events: none;
}
.label {
  position: absolute;
  bottom: 100%;
  left: 0;
  background: black;
  color: white;
  .parents {
    display: none;
  }
}

.margin, .padding {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  position: absolute;

}

.margin {
  background: rgba(255, 202, 28, 0.488);
}
.margin-negative {
  background: rgba(255, 28, 107, 0.488);
}
.margin-top, .margin-bottom {
  left: 0;
  bottom: 100%;
  width: 100%;
}
.margin-bottom {
  top: 100%;
}
.margin-left, .margin-right {
  left: auto;
  right: 100%;
  height: 100%;
}
.margin-right {
  left: 100%;
}

.padding {
  background: rgba(110, 247, 110, 0.2);
}
.padding-top, .padding-bottom {
  left: 0;
  top: 0;
  width: 100%;
}
.padding-bottom {
  top: auto;
  bottom: 0;
}
.padding-left, .padding-right {
  left: 0;
  height: 100%;
}
.padding-right {
  left: auto;
  right: 0;
}

.resizer {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 30px;
  min-width: 30px;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

div[class$="left"], div[class$="right"] {
    .resizer {
        cursor: ew-resize;
    }
}
div[class$="top"], div[class$="bottom"] {
    .resizer {
        cursor: ns-resize;
    }
}
</style>
