<template>
  <transition name="modal" v-on:after-enter="setDimensions">
    <template v-if="showModal" @close="showModal = false">
        <div class="modal-container" :style="modalPosition">

          <div class="modal-header">
            <slot name="header">
              {{ currentElementComponent.label }}
              <div class="close-modal" @click="closeModal" v-html="this.$constants.feather['x'].toSvg()"></div>
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <div v-for="group in Object.keys(currentElementComponent.groups)" class="group-content" :key="group">
                <vue-form-generator :schema="currentElementComponent.groups[group]" :model="currentElementModel" :options="formOptions"></vue-form-generator>
              </div>
            </slot>
          </div>

        </div>
    </template>
  </transition>
</template>

<script>

export default {
  data () {
    return {
      formOptions: this.$config.formOptions,
      top: 0,
      left: 0,
      height: 400,
      width: 500,
      currentGroup: function () {
        return this.currentElementComponent.groups[0]
      }
    }
  },
  computed: {
    showModal: function () {
      return this.$store.state.showElementModal
    },
    currentElementModel: function () {
      return this.$store.getters.currentElementModel
    },
    currentElementComponent: function () {
      return this.$store.getters.currentElementComponent
    },
    modalPosition: function () {
      var el = this.$store.state.currentElementNode.getBoundingClientRect()
      var left = el.left + (el.width / 2) - (this.width / 2)
      var top = el.bottom
      // // Div closer to bottom
      if (el.top > window.innerHeight - el.bottom) {
        top = el.top - this.height
      }
      return {
        top: Math.min(Math.max(parseInt(top), 0), window.innerHeight) + 'px',
        left: Math.min(Math.max(parseInt(left), 0), window.innerWidth - this.width) + 'px'
      }
    }
  },
  methods: {
    closeModal: function () {
      this.$store.commit('closeModal')
    },
    changeGroup: function (label) {
      this.currentGroup = label
    },
    setDimensions: function (el) {
      this.height = this.$el.offsetHeight
      this.width = this.$el.offsetWidth
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
