<template>
  <iframe @load="renderChildren" :src="this.src" :style="width">
    <styles-generator ref="stylesGenerator"></styles-generator>
  </iframe>
</template>

<script>
import Vue from 'vue'
import StylesGenerator from './StylesGenerator.vue'
import PreviewStyles from '../assets/scss/preview.scss'

export default {
  components: {StylesGenerator},
  data () {
    return {
      src: '/static/example/page.html',
      target: this.$config.previewTarget,
      keyPressed: false
    }
  },
  beforeUpdate () {
    // freezing to prevent unnessessary Reactifiation of vNodes
    if (this.iframeApp) {
      this.iframeApp.children = Object.freeze(this.$slots.default)
    }
  },
  computed: {
    width () {
      if (this.$store.state.currentMediaQuery) {
        return {width: this.$store.state.currentMediaQuery.width}
      }
    }
  },
  methods: {
    renderChildren () {
      // Add builder styles
      this.$el.contentWindow.document.getElementsByTagName('head')[0].appendChild(this.$refs.stylesGenerator.$el)

      // Add preview styles
      var previewStyleNode = document.createElement('style')
      previewStyleNode.type = 'text/css'
      previewStyleNode.innerHTML = PreviewStyles.toString()
      this.$el.contentWindow.document.getElementsByTagName('head')[0].appendChild(previewStyleNode)

      // Add elements
      const children = this.$slots.default
      const container = this.$el.contentWindow.document.querySelector(this.target)
      container.innerHTML = ''
      const el = document.createElement('div')
      container.appendChild(el)
      this.$store.commit('setIframePreview', this)

      // Mount iframe app and store
      var store = this.$store
      const iframeApp = new Vue({
        name: 'iframeApp',
        store,
        data: {
          iframe: this.$el,
          container: container,
          children: Object.freeze(children)
        },
        render (h) {
          return h('div', this.children)
        }
      })
      iframeApp.$mount(el) // mount into iframe
      this.iframeApp = iframeApp // cache instance for later updates

      // Add keyboard shortcuts
      var _this = this
      document.addEventListener('keydown', function (event) {
        _this.keydownShortcuts(event)
      })
      document.addEventListener('keyup', function (event) {
        _this.keyupShortcuts(event)
      })
      this.$el.contentWindow.document.addEventListener('keydown', function (event) {
        _this.keydownShortcuts(event)
      })
      this.$el.contentWindow.document.addEventListener('keyup', function (event) {
        _this.keyupShortcuts(event)
      })
    },
    previewStyles () {
      return `.vb-matched-element {
          outline: 1px solid #ff5ea927;
      }
      .vb-empty {
          min-height: 60px;
      }`
    },
    keydownShortcuts (event) {
      if (this.keyPressed) {
        return
      }
      this.keyPressed = true
      // console.log(event)
      switch (event.keyCode) {
        case 16:
          event.preventDefault()
          this.$store.commit('setPaddingMode', true)
          break
        case 77:
          event.preventDefault()
          this.$store.commit('setMarginMode', true)
          break
        case 18:
          event.preventDefault()
          this.$store.commit('setDimensionsMode', true)
          break
        case 86:
          this.$store.commit('setPositionMode', true)
      }
    },
    keyupShortcuts (event) {
      this.keyPressed = false
      switch (event.keyCode) {
        case 16:
          this.$store.commit('setPaddingMode', false)
          break
        case 77:
          this.$store.commit('setMarginMode', false)
          break
        case 18:
          this.$store.commit('setDimensionsMode', false)
          break
        case 86:
          this.$store.commit('setPositionMode', false)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/variables';
iframe {
  height: calc(100vh - #{$toolbar-height});
  border: 0;
  background: white;
}
</style>
