<template>
  <div class="importer">
    <div class="float-right">
      <div class="btn import" @click="openImportModal" v-html="this.$constants.feather['code'].toSvg()"></div>
    </div>
    <div class="modal-container import-modal" v-if="this.$store.state.importModalOpen">
      <div class="modal-header">
        Import
        <div class="close-modal" @click="closeImportModal" v-html="this.$constants.feather['x'].toSvg()"></div>
      </div>
      <div class="modal-body">
        <div class="importer-html">
            <codemirror ref="htmlImporter" v-model="renderedHtml" :options="cmHtmlOptions"></codemirror>
        </div>
        <div class="importer-css">
            <div class="codemirror">
                <codemirror v-model="renderedCss" :options="cmCssOptions"></codemirror>
            </div>
        </div>
      </div>
      <div class="modal-footer">
          <div class="btn" @click="importInputs">Import</div>
      </div>
    </div>
    <div ref="renderedElements" v-show="false">
      <el
      v-for="elementKey in $store.state.elements.root.children"
      :model="$store.state.elements[elementKey]"
      :key="elementKey"
      :element-key="elementKey">
      </el>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import shortid from 'shortid'
import { codemirror } from 'vue-codemirror'
import 'codemirror/lib/codemirror.css'
import 'codemirror/theme/monokai.css'
import 'codemirror/mode/xml/xml.js'
import 'codemirror/mode/css/css.js'

export default {
  name: 'toolbar',
  props: {},
  components: {
    codemirror
  },
  data () {
    return {
      isMounted: false,
      renderedHtml: '',
      renderedCss: '',
      cmHtmlOptions: {
        tabSize: 2,
        mode: 'text/html',
        htmlMode: true,
        theme: 'monokai'
      },
      cmCssOptions: {
        tabSize: 2,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        mode: 'text/css',
        lineWrapping: true,
        theme: 'monokai'
      }
    }
  },
  mounted () {
    this.$store.commit('setElements', { root: { children: [] } })
    // this.importHtml(window.htmlString)
    this.isMounted = true
  },
  computed: {
    //   renderedHtml() {
    //       if (!this.isMounted)
    //         return
    //         this.$store.commit('startExport')
    //         console.log(this.$store.state.isExporting)
    //         return this.$refs.renderedElements.innerHTML
    //         this.$store.commit('endExport')
    //   }
  },
  methods: {
    openImportModal () {
      this.$store.commit('startExport')
      var component = this
      Vue.nextTick(function () {
        component.renderedHtml = component.$refs.renderedElements.innerHTML
        component.renderedCss = component.$store.getters.styleNode.textContent
        component.$store.commit('endExport')
      })
      this.$store.commit('toggleImportModal')
    },
    closeImportModal () {
      this.$store.commit('toggleImportModal')
    },
    importInputs () {
      this.$store.commit('setElements', { root: { children: [] } })
      this.importHtml(this.renderedHtml)
    },
    importHtml (htmlString) {
      var template = document.createElement('div')
      var html = htmlString.trim()
      template.innerHTML = html
      if (template.childNodes) {
        this.parseChildNodes(template.childNodes, 'root')
      }
    },
    parseChildNodes (nodes, parentKey) {
      for (var i = 0; i < nodes.length; i++) {
        var node = nodes[i]
        var elementKey = shortid.generate()
        var elementFromNode = this.getElementFromNode(node)
        this.$store.commit('createElement', [
          elementKey,
          elementFromNode.type,
          elementFromNode.properties
        ])
        this.$store.commit('addChildElement', [parentKey, elementKey])
        this.parseChildNodes(node.childNodes, elementKey)
      }
    },
    getElementFromNode (node) {
      var component = this
      var type = 'div-element'
      var properties = {}
      for (var elementType in component.$config.elementTypes) {
        var nodeProperties = component.$config.elementTypes[elementType]
          .parseNode
          ? component.$config.elementTypes[elementType].parseNode(node)
          : false
        if (nodeProperties) {
          properties = nodeProperties
          type = component.$config.elementTypes[elementType].name
          break
        }
      }
      return {
        type: type,
        properties: properties
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-container.import-modal {
  width: 1000px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  position: fixed;
  .modal-body {
    margin: 0;
    flex-direction: row;
  }
  .importer-html {
      padding: 0 15px 15px;
      width: 50%;
  }
  .importer-css {
      padding: 0 15px 15px;
      width: 50%;
  }
  textarea {
      width: 100%;
  }
  .btn {
    float: right;
  }
}
</style>
