<template>
  <transition name="sidebar">
    <template>
        <div class="sidebar" :class="{'closed': this.$store.state.styleSidebarClosed }">

            <div class="sidebar-header">
                <div class="tab-btn" :class="{'active': currentTab == 'styles'}" @click="changeTab('styles')" v-html="this.$constants.feather.zap.toSvg()"></div>
                <div class="tab-btn" :class="{'active': currentTab == 'element-tree'}" @click="changeTab('element-tree')" v-html="this.$constants.feather.box.toSvg()"></div>
                <div class="tab-btn" :class="{'active': currentTab == 'rule-set-tree'}" @click="changeTab('rule-set-tree')" v-html="this.$constants.feather.shield.toSvg()"></div>
            </div>

            <div class="sidebar-body">
              <div v-if="currentTab == 'styles'" class="tab-content">
                    <styles-form></styles-form>
                </div>
                <div v-if="currentTab == 'element-tree'" class="tab-content">
                    <element-tree></element-tree>
                </div>
                <div v-if="currentTab == 'rule-set-tree'" class="tab-content">
                    <rule-set-tree></rule-set-tree>
                </div>
            </div>

        </div>
    </template>
  </transition>
</template>

<script>
import StylesForm from './StylesForm.vue'
import ElementTree from './ElementTree.vue'
import RuleSetTree from './RuleSetTree.vue'

export default {
  components: {StylesForm, ElementTree, RuleSetTree},
  computed: {
    currentTab () {
      return this.$store.state.currentTab
    }
  },
  methods: {
    closeSidebar () {
      this.$store.commit('closeSidebar')
    },
    changeTab (label) {
      this.$store.commit('changeTab', label)
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/variables';
.tab-btn, .btn {
  svg {
    max-width: 20px;
  }
}
.sidebar-header {
  z-index: 10;
  width: 100%;
  display: inline-block;
  height: $toolbar-height;
  width: $style-bar-width;
  position: fixed;
  top: 0;
  right: 0;
  .tab-btn {
    height: $toolbar-height;
    width: 33.333%;
    text-align: center;
    float: left;
    padding: 10px;
    background: darken($bg-dark,10%);
    &.active {
      background: $bg-dark;
    }
  }
}
.sidebar-body {
  margin-top: $toolbar-height;
  padding: 10px 0;
}
</style>
