<template>
    <div class="rule-set-tree-item" v-if="ruleSetName !== ''">
        <div class="selector" @dblclick="showRenameInput" v-if="!isEditing">
          {{ ruleSetName }}
          <span class="delete" @click="deleteRuleSet" v-html="this.$constants.feather['trash'].toSvg()"></span>
        </div>
        <input type="text"
          ref="renameInput"
          class="rename-input"
          v-show="isEditing"
          @blur="renameRuleSet"
          @keyup.enter="renameRuleSet"
          :value="ruleSetName">
        <!-- <div class="declarations" v-if="open && model.type == 'rule'">
            {{ model.declarations }}
        </div> -->
        <div class="nested-rules" v-if="open && model.type == '@media'">
            <rule-set-tree-item
            v-for="selector in Object.keys(model.nestedRules)"
            :model="model.nestedRules[selector]"
            :parent="model"
            :key="selector"
            :id="selector">
            </rule-set-tree-item>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'rule-set-tree-item',
  props: {
    id: null,
    model: null
  },
  data () {
    return {
      isEditing: false
    }
  },
  computed: {
    open () {
      return this.$store.state.openRuleSetTreeItems[this.id]
    },
    ruleSetName () {
      if (this.model.selectors) {
        return this.model.selectors[0]
      } else {
        return this.model.value[0]
      }
    }
  },
  methods: {
    toggleDeclarations () {
      if (this.open) {
        Vue.delete(this.$store.state.openRuleSetTreeItems, this.id)
      } else {
        Vue.set(this.$store.state.openRuleSetTreeItems, this.id, true)
      }
    },
    renameRuleSet () {
      this.isEditing = false
      this.$store.commit('renameRuleSet', [this.model.selectors[0], event.target.value])
    },
    deleteRuleSet () {
      this.$store.commit('deleteRuleSet', this.model.selectors[0])
    },
    showRenameInput () {
      this.isEditing = true
      var _this = this
      Vue.nextTick(function () {
        _this.$refs.renameInput.focus()
      })
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/variables';

.rule-set-tree-item {
    border-bottom: 1px solid lighten($bg-dark, 10%);
    .selector {
        padding: 6px 10px;
    }
    .delete {
      float: right;

    }
    svg {
      max-width: 14px;
      max-height: 18px;
    }
}
</style>
