<template>
    <div class="rule-set-tree">
        <rule-set-tree-item
        v-for="selector in Object.keys($store.state.ruleSets)"
        :model="$store.state.ruleSets[selector]"
        :parent="$store.state.ruleSets"
        :key="selector"
        :id="selector">
        </rule-set-tree-item>
    </div>
</template>

<script>
import RuleSetTreeItem from './RuleSetTreeItem.vue'

export default {
  components: {RuleSetTreeItem},
  name: 'rule-set-tree',
  data () {
    return {
    }
  }
}
</script>
