<template>
    <component :is="type" type="text/css" v-html="css"></component>
</template>
<script>
import cssparser from 'cssparser/lib/cssparser'
import Vue from 'vue'

export default {
  data () {
    return {
      isMounted: false,
      styleNode: this.$store.getters.styleNode,
      type: 'style'
    }
  },
  mounted () {
    this.isMounted = true
    this.$store.commit('setStyleNode', this.$el)
    // Get selectors from CSS
    var parser = new cssparser.Parser()
    var ast = parser.parse(window.css)
    var json = ast.toJSON('simple')
    this.$store.commit('setRuleSets', json.value)

    // Set default media query
    var query = Vue.prototype.$config.mediaQueries.find(
      q => q.default === true
    )
    this.$store.commit('setCurrentMediaQuery', query)
  },
  computed: {
    css: function () {
      if (!this.isMounted) return

      var css = ''
      var mediaQueries = []
      var ruleSets = this.$store.getters.ruleSets
      var component = this

      if (ruleSets) {
        Object.keys(ruleSets).forEach(function (selector) {
          var ruleSet = ruleSets[selector]
          if (ruleSet.type === 'rule' && ruleSet.declarations) {
            css += component.parseDeclarations(ruleSet)
          } else if (ruleSet.type === '@media' && ruleSet.nestedRules) {
            var queryConfig = Vue.prototype.$config.mediaQueries.find(
              q => q.query === ruleSet.value[0]
            )
            var query = {}
            query.order =
              queryConfig && queryConfig.order ? queryConfig.order : 0
            query.css = '@media ' + ruleSet.value[0] + ' {'
            for (var nestedRule in ruleSet.nestedRules) {
              query.css += component.parseDeclarations(
                ruleSet.nestedRules[nestedRule]
              )
            }
            query.css += '}'
            mediaQueries.push(query)
          }
        })

        mediaQueries.sort((a, b) => a.order - b.order).forEach(function (query) {
          css += query.css
        })
        // this.$store.getters.styleNode.textContent = css
        return css
      }
    }
  },
  methods: {
    parseDeclarations (ruleSet) {
      var css = ruleSet.selectors.join(',') + ' {'
      for (var property in ruleSet.declarations) {
        if (ruleSet.declarations[property]) {
          css += property + ': ' + ruleSet.declarations[property] + ';'
        }
      }
      css += '}'
      return css
    }
  }
}
</script>
