<template>
    <div class="styles-form">
      <div v-if="this.currentRuleSet && $store.getters.currentElementModel">
        <div class="current-selector">
          <h5>Current Selector</h5>
          <multiselect
            v-model="selector"
            :options="$store.getters.currentElementSelectorMatches"
            :allow-empty="false"
            @input="changeSelector">
          </multiselect>
        </div>

        <div v-if="$store.getters.currentElementModel" v-for="group in Object.keys($store.getters.currentElementComponent.groups)" class="group-content" :key="group">
          <vue-form-generator :schema="$store.getters.currentElementComponent.groups[group]" :model="$store.getters.currentElementModel" :options="$config.formOptions"></vue-form-generator>
        </div>

        <div v-for="group in Object.keys(groups)" :key="group" class="group-content">
            <div class="group-label"
              @click='groups[group].open = !groups[group].open'>
              {{ groups[group].legend }}
            </div>
            <vue-form-generator
              :schema="groups[group]"
              :model="currentRuleSet.declarations"
              :options="formOptions"
              v-if="groups[group].open">
            </vue-form-generator>
        </div>
      </div>
      <div v-else class="no-selector">
          <div v-html="this.$constants.feather.target.toSvg()" />
          <p>Click any element to start editing.</p>
      </div>
    </div>
</template>

<script>
import Vue from 'vue'
import Typography from '../mixins/typography'
import Display from '../mixins/display'
import Dimensions from '../mixins/dimensions'
import Background from '../mixins/background'

export default {
  data () {
    return {
      formOptions: this.$config.formOptions,
      selector: null
    }
  },
  mixins: [Display, Dimensions, Typography, Background],
  computed: {
    currentRuleSet () {
      return this.$store.getters.currentRuleSet
    }
  },
  watch: {
    currentRuleSet: {
      handler (value) {
        if (this.currentRuleSet) {
          this.selector = this.currentRuleSet.selectors[0]
        }
        if (
          this.currentRuleSet &&
          this.currentRuleSet.selectors[0] === '' &&
          Object.keys(this.currentRuleSet.declarations).length > 0
        ) {
          this.createUniqueSelector()
        }
      },
      deep: true
    }
  },
  methods: {
    createUniqueSelector () {
      var uniqueSelector = this.$store.getters.currentElementModel.type
      if (this.$store.state.ruleSets['.' + uniqueSelector]) {
        for (var i = 1; i < 100; i++) {
          uniqueSelector = this.$store.getters.currentElementModel.type + '-' + i
          if (!this.$store.state.ruleSets['.' + uniqueSelector]) break
        }
      }
      this.$store.commit('renameRuleSet', [
        '',
        '.' + uniqueSelector
      ])
      Vue.set(this.$store.getters.currentElementModel, 'classes', [
        uniqueSelector
      ])
      this.selector = uniqueSelector
    },
    changeSelector () {
      this.$store.commit('setCurrentSelector', this.selector)
    }
  }
}
</script>

<style lang="scss">
.current-selector {
  padding: 6px 10px;
}
.no-selector {
  margin-top: 40%;
  text-align: center;
  padding: 30px;
  svg {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }
}
</style>
