<template>
    <div class="toolbar" id="app-toolbar">
        <div class="left">
            <div class="btn" @click="toggleElementMenu" v-html="this.$constants.feather['plus-circle'].toSvg()"></div>
            <div class="preview-media-queries">
            <template
                v-for="mediaQuery in this.$config.mediaQueries">
                <div
                @click="changeMediaQuery(mediaQuery)"
                :class="{'vb-selected': $store.state.currentMediaQuery == mediaQuery}"
                :key="mediaQuery.name"
                class="btn"
                v-html="mediaQuery.icon">
                {{ mediaQuery.name }}
                </div>
            </template>
            </div>
        </div>
        <div class="right">
          <!-- <div class="btn" v-if="canUndo" @click="undoDraw">Undo</div> -->
          <!-- <div v-else disabled>Undo</div> -->
          <!-- <div v-if="canRedo" @click="redoDraw">Redo</div>
          <div v-else disabled>Redo</div> -->
          <div class="btn save" @click="save" v-html="this.$constants.feather['save'].toSvg()"></div>
        </div>
        <importer></importer>
    </div>
</template>

<script>
import axios from 'axios'
import Importer from './Importer.vue'

export default {
  components: {Importer},
  name: 'toolbar',
  props: {},
  data () {
    return {}
  },
  methods: {
    save () {
      var saveData = {
        elements: this.$store.state.elements,
        ruleSets: this.$store.state.ruleSets
      }
      axios.post(this.$config.saveUrl, saveData).then(response => {
        // @TODO show saved notification
        console.log(response)
      })
    },
    toggleElementMenu () {
      this.$store.commit('toggleElementMenu')
    },
    changeMediaQuery (query) {
      this.$store.commit('setCurrentMediaQuery', query)
    },
    undoDraw () {
      this.undo()
    }
  }
}
</script>

<style lang="scss">
@import "../assets/scss/variables";
.toolbar {
  width: calc(100% - #{$style-bar-width});
  position: fixed;
  top: 0;
  left: 0;
  height: $toolbar-height;
  margin-right: $style-bar-width;
  background: $bg-dark;
  color: white;
  display: flex;

  .btn {
    float: left;
    width: 42px;
    height: $toolbar-height;
    line-height: $toolbar-height;
    text-align: center;
    background: transparent;
    border: 0;
    border-right: 1px solid lighten($bg-dark, 15);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0.6;
    i {
      line-height: $toolbar-height;
      color: white;
    }
    &:hover {
      background: lighten($bg-dark, 15);
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
    &.vb-selected {
      opacity: 1;
    }
  }
}
.left {
  display: flex;
}
.right {
  display: flex;
  margin-left: auto;
  align-self: flex-end;
}
</style>
