<template>
  <div id="app">

    <div id="workpane">
      <div class="workpane-wrapper" :style="width">
        <i-frame id="iframe-preview" class="iframe-preview">
          <el
            v-for="elementKey in $store.state.elements.root.children"
            :model="$store.state.elements[elementKey]"
            :key="elementKey"
            :element-key="elementKey"
            :parent-key="parentKey">
          </el>
        </i-frame>
      <element-tools></element-tools>
      </div>
    </div>

    <right-sidebar></right-sidebar>
    <element-menu></element-menu>
    <toolbar></toolbar>
    <asset-manager></asset-manager>

  </div>

</template>

<script>
import Iframe from './components/Iframe.vue'
import RightSidebar from './components/RightSidebar.vue'
import ElementMenu from './components/ElementMenu.vue'
import ElementTools from './components/ElementTools.vue'
import Toolbar from './components/Toolbar.vue'
import AssetManager from './components/AssetManager.vue'

export default {
  name: 'App',
  components: {
    'i-frame': Iframe,
    'element-menu': ElementMenu,
    'element-tools': ElementTools,
    'toolbar': Toolbar,
    'right-sidebar': RightSidebar,
    'asset-manager': AssetManager
  },
  props: {},
  data () {
    return {
      parentKey: 'root'
    }
  },
  computed: {
    width () {
      if (this.$store.state.currentMediaQuery) {
        return {width: this.$store.state.currentMediaQuery.width}
      }
    }
  }
}
</script>

<style lang="scss">
  @import "vue-multiselect/dist/vue-multiselect.min.css";
  @import "normalize.css";
  @import 'assets/scss/variables';
  @import 'assets/scss/shared/forms';
  @import 'assets/scss/shared/modals';
  @import 'assets/scss/shared/sidebar';
  body * {
    box-sizing: border-box;
  }

  html, body {
    font-size: 13px;
  }

  #workpane {
    position: relative;
    margin-top: $toolbar-height;
    margin-right: $style-bar-width;
    height: calc(100vh - #{$toolbar-height});
    overflow: hidden;
    background: #ecedef;
  }

  .workpane-wrapper {
    margin: 0 auto;
    position: relative;
  }

</style>
